# serve HTML/HTM files as PHP
AddHandler fcgid-script .html
FCGIWrapper "C:/xampp/php-5.6.6-nts-Win32-VC11-x86/php-cgi.exe" .html

# disable directory browsing
Options All -Indexes

# prevent folder listing
IndexIgnore *

